/* Menghilangkan scrollbar */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

/* Font Default */
body {
    font-family: 'Abang', sans-serif;
}

/* Mengatur video */
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -1;
}

/* Header */
.top-header {
    background-color: #add8e6;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.menu-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar ul li {
    margin-right: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    font-family: 'Abang', sans-serif;
    color: navy;
    font-size: 1rem;
    font-weight: bold; /* Menjadikan teks bold */
    text-transform: uppercase; /* Mengubah teks menjadi huruf besar */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}



.menu-bar ul li a:hover {
    background-color: rgba(0, 0, 128, 0.2);
    color: white;
}

/* Brand */
.brand h1 {
    font-size: 2rem;
    color: navy;
    font-style: italic;
    margin: 0;
    margin-right: 150px; /* Menambahkan jarak antara brand dan navbar */
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease; 
}


.brand h1:hover {
    color: #f1c40f;
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 80vh;
    text-align: center;
    color: white;
}

.hero-section .container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-section .cta-button {
    background-color: #1e3c72;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
    background-color: #f1c40f;
}

/* Footer */
.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    font-size: 1rem;
    color: gray;
}

/* Memberikan jarak konten setelah header */
main {
    padding-top: 60px;
}
